Repository FlaSpaceInst/EZ-RASSOR, pull requests merged in 2020-04, with the labels that each got.

#325 Path planning and obstacle detection
  packages/autonomy/ezrassor_autonomous_control/config/obstacle_detection.yaml
  packages/autonomy/ezrassor_autonomous_control/launch/autonomous_control.launch
  packages/autonomy/ezrassor_autonomous_control/nodes/autonomous_control
  packages/autonomy/ezrassor_autonomous_control/nodes/obstacle_detection
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/ai_objects.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/auto_functions.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/autonomous_control.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/nav_functions.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/obstacle_detection.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/pointcloud_processor.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/utility_functions.py
  packages/extras/ezrassor_launcher/launch/configurable_communication.launch
  packages/extras/ezrassor_launcher/launch/configurable_simulation.launch
  packages/simulation/ezrassor_sim_control/source/ezrassor_sim_control/sim_arms_driver.py
  packages/simulation/ezrassor_sim_description/urdf/ezrassor.xacro
  packages/simulation/ezrassor_sim_gazebo/worlds/hole.world
  packages/simulation/ezrassor_sim_gazebo/worlds/stuck.world
  packages/simulation/ezrassor_sim_gazebo/worlds/tile_test.world
Labels: autonomy, enhancement, needs review, simulation, vision

#327 Cosmic GPS
  packages/autonomy/ezrassor_autonomous_control/source/localization/cell_gps.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/centroid_tests.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/cluster.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/cluster_tests.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/d_03_12_20_t_22_16_15.jpg
  packages/autonomy/ezrassor_autonomous_control/source/localization/measurement.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/measurement_tests.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/show_image.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/star.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/star_cat.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/star_cat_tests.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/star_catalogue_init.txt
  packages/autonomy/ezrassor_autonomous_control/source/localization/star_ref.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/star_tests.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/thresh_global.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/thresh_local_ratio.py
  packages/autonomy/ezrassor_autonomous_control/source/localization/thresh_tests.py
Labels: vision

#329 Park ranger
  dem_scripts/README.txt
  dem_scripts/auto_gen_wrld/AS16-110-18026HR-512x512.jpg
  dem_scripts/auto_gen_wrld/auto_gen_wrld.sh
  dem_scripts/auto_gen_wrld/generate_xmls.py
  dem_scripts/auto_gen_wrld/queue/test_gray.jpg
  dem_scripts/auto_gen_wrld/results/model.config
  dem_scripts/auto_gen_wrld/results/model.sdf
  dem_scripts/auto_gen_wrld/results/test.world
  dem_scripts/convert2tif/queued_dems/ldem_4.lbl
  dem_scripts/convert2tif/queued_dems/placeholder.txt
  dem_scripts/convert2tif/results/ldem_4.lbl
  dem_scripts/convert2tif/results/placeholder.txt
  dem_scripts/extract_tile/queued_dems/ldem_4.lbl
  dem_scripts/extract_tile/queued_dems/placeholder.txt
  dem_scripts/extract_tile/results/ldem_4.lbl
  dem_scripts/extract_tile/results/placeholder.txt
  dem_scripts/extract_tile/tile.py
  dem_scripts/get_elev/dem_results/ldem_4.lbl
  dem_scripts/get_elev/dem_results/placeholder.txt
  dem_scripts/get_elev/localMaxima.py
  dem_scripts/get_elev/queued_dems/ldem_4.lbl
  dem_scripts/get_elev/queued_dems/placeholder.txt
  dem_scripts/mk_gaz_wrld/converted_dems/ldem_4.lbl
  dem_scripts/mk_gaz_wrld/converted_dems/placeholder.txt
  dem_scripts/mk_gaz_wrld/downsized_dems/ldem_4.lbl
  dem_scripts/mk_gaz_wrld/downsized_dems/placeholder.txt
  dem_scripts/mk_gaz_wrld/queued_dems/ldem_4.lbl
  dem_scripts/mk_gaz_wrld/queued_dems/placeholder.txt
  dem_scripts/queue/ldem_4.lbl
  dem_scripts/queue/placeholder.txt
  dem_scripts/results/ldem_4.lbl
  dem_scripts/results/placeholder.txt
  dem_scripts/run_programs.sh
  dem_scripts/tile_test/materials/textures/APOLLO17_ORTHOMOSAIC_50CM_tile_129_18963_converted.jpg
  dem_scripts/tile_test/moon_model.sdf
  packages/autonomy/ezrassor_autonomous_control/CMakeLists.txt
  packages/autonomy/ezrassor_autonomous_control/dem_data/APOLLO17_ORTHOMOSAIC_50CM_tile_129_18963_extr_out.txt
  packages/autonomy/ezrassor_autonomous_control/dem_data/LRO_LOLA_DEM_SPolar875_10m_tile_10773_11286_extr_out.txt
  packages/autonomy/ezrassor_autonomous_control/launch/autonomous_control.launch
  packages/autonomy/ezrassor_autonomous_control/nodes/park_ranger
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/__init__.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/ai_objects.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/auto_functions.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/autonomous_control.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/obstacle_detection.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/park_ranger.py
  packages/autonomy/ezrassor_autonomous_control/source/ezrassor_autonomous_control/utility_functions.py
  packages/autonomy/ezrassor_autonomous_control/weights_results/placeholder.txt
  packages/extras/ezrassor_launcher/launch/configurable_communication.launch
  packages/extras/ezrassor_launcher/launch/configurable_simulation.launch
  packages/simulation/ezrassor_sim_gazebo/worlds/park_ranger_test.world
Labels: autonomy
